/* VANILLA HOME CSS*/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


body.home { background-image: url("assets/home/background-home-desktop.jpg"); 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
body.destination { background-image: url("assets/destination/background-destination-desktop.jpg");
   background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
}
body.crew { background-image: url("assets/crew/background-crew-desktop.jpg");
   background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
}
body.technology { background-image: url("assets/technology/background-technology-desktop.jpg");
   background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
}

.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 55px;
}

.right-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 830px;
  height: 95px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
}

.nav-button{
  border: 0;
  margin-left: 24px;
  margin-right: 24px;
  padding: 0;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 16px;
  height: 100%;
  background: none;
  color: #FFFFFF;
}

.nav-button:hover{
  cursor: pointer;
}

.nav-button>span{
  margin-right: 11px;
  font-weight: 700;
}

.nav-button.active {
  border-bottom: 3px solid white;
}

/* HOME CSS CONTENT */

.home-page{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 250px;
}

.left-home{
  display: flex;
  flex-direction: column;
  max-width: 450px;
  color: white;
}

.left-home h3 {
  font-size: 28px;
  font-weight: 400;
  font-family: "Barlow Condensed", sans-serif;
  margin: 0;
}

.left-home h1 {
  font-size: 150px;
  font-weight: 400;
  font-family: "Bellefair", sans-serif;
  margin-top: 24px;
  margin-bottom: 24px;
}

.left-home p {
  font-size: 18px;
  font-weight: 400;
  font-family: "Barlow Condensed", sans-serif;
  margin: 0;
}

.home-page button{
  width: 275px;
  height: 275px;
  border: 0;
  font-size: 32px;
  font-weight: 400;
  font-family: "Bellefair", sans-serif;
  border-radius: 50%;
}

.home-page button:hover{
  cursor: pointer;
   box-shadow: 0 0 20px #fff, 0 0 40px rgb(255, 255, 255);
   text-shadow: 0 0 15px #000000, 0 0 25px rgb(255, 255, 255), 0 0 35px rgb(255, 255, 255);
}

/* DESTINATION CSS CONTENT */

.destination-page {
  display: flex;
  flex-direction: column;
}

.destination-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.destination-box img {
  height: 445px;
  width: 445px;
}

.destination-box-right {
  display: flex;
  flex-direction: column;
  width: 445px;
}

.dst-stats {
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.destination-page > h1 {
  font-size: 28px;
  font-weight: 400;
  font-family: "Barlow Condensed", sans-serif;
  color: #FFFFFF;
  margin-top: 74px;
  margin-bottom: 64px;
  margin-left: 165px;
}

.destination-page > h1 > span {
  font-weight: 700;
  font-family: "Barlow Condensed", sans-serif;
  color:#747272;
  margin-right: 28px;
}

.dst-nav {
  display: flex;
  width: 285px;
  height: 35px;
  justify-content: space-between;
  align-items: center;
}

.dst-button {
  font-size: 16px;
  font-weight: 400;
  font-family: "Barlow Condensed", sans-serif;
  background: none;
  color: #FFFFFF;
  border: 0;
  height: 100%;
}

.dst-button.active {
  border-bottom: 3px solid white;
}

.dst-info {
  display: flex;
  flex-direction: column;
}

.dst-name {
  font-size: 100px;
  font-weight: 400;
  font-family: "Bellefair", sans-serif;
  color: #FFFFFF;
  margin-top: 34px;
  margin-bottom: 14px;
}

.dst-desc {
  font-size: 18px;
  font-weight: 400;
  font-family: "Barlow Condensed", sans-serif;
  color: #FFFFFF;
}

.dst-distance-box p {
  font-size: 14px;
  font-weight: 400;
  font-family: "Barlow Condensed", sans-serif;
  color: #FFFFFF;
}

.dst-distance {
  font-size: 28px;
  font-weight: 400;
  font-family: "Bellefair", sans-serif;
  color: #FFFFFF;
}

.dst-travel-box p {
  font-size: 14px;
  font-weight: 400;
  font-family: "Barlow Condensed", sans-serif;
  color: #FFFFFF;
}

.dst-travel {
  font-size: 28px;
  font-weight: 400;
  font-family: "Bellefair", sans-serif;
  color: #FFFFFF;
}
